{% extends 'base.html' %}
{% block content %}
<style>
td, td {
border-width: 2px;
text-align: center;
}

</style>
<table border="5px">
    <tr>
        <td>Book title</td>
        <td>Date</td>
        <td>Authors</td>
        <td>Likes</td>
    </tr>
        {% for Book in Books %}
        <tr>
            <td>
                <a href="{% url 'BookView' book_id=Book.id %}" class="btn btn-secondary rounded-0 w-100">
                    {{ Book.title }}
                </a>
            </td>
            <td>
                {{ Book.date }}
            </td>
            <td>
                {% for au in Book.author.all %}
                {{au.first_name}}
                {%endfor%}
            </td>
            <td>
                {{ Book.likes_count }}
            </td>
        </tr>
        {% endfor %}
</table>
{% endblock %}